@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Work Experience: </h1>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/suitehop-slide.png"alt="" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Suitehop / Sportsshares
                        <a class="btn btn-default btn-default" href="http://www.suitehop.com">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/morris-slide.png"alt=" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        Morris Animal Foundation
                        <a class="btn btn-default btn-default" href="http://www.morrisanimalfoundation.org">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/zoll-slide.png" alt="" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        ZOLL Medical
                        <a class="btn btn-default btn-default" href="http://www.zoll.com/">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/bioware-slide.png"alt="" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        EA's Bioware
                        <a class="btn btn-default btn-default" href="http://www.bioware.com/en/">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/americaneagle-slide.png" alt="" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        American Eagle Web Development
                        <a class="btn btn-default btn-default" href="https://www.americaneagle.com/">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Education</h2>
        <ul>
            <li>
                <h2><a href="https://ucsd.edu/">UC San Diego</a></h2>
            </li>
            <li>User Experience (UX) Design </li>
            <li> Certificate (*Complete in Winter of 2017)</li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul>
            <li>
                <h2><a href="https://www.cdm.depaul.edu/Pages/default.aspx">DePaul University</a></h2>
            </li>
            <li>M.S. in Computer Science: Graphics and Motion Technical Director Track </li>
            <li> M.S. 2010 Completed</li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul>
            <li>
                <h2><a href="http://www.aes.org/education/directory/institutions.cfm?InstID=103">Sound Masters Institute</a></h2>
            </li>
            <li>Audio Engineering and Post Production </li>
            <li> Certificate 2006 Completed</li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul>
            <li>
                <h2><a href="https://udayton.edu/">University of Dayton</a></h2>
            </li>
            <li>Bachelor of Arts in Communication, Professional Focus in Business Administration</li>
            <li>B.A. 2005 Completed</li>
        </ul>
    </div>
</div>
